<div class="wrapper">
    <section data-anchor="top" id="Contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Let's make some awesome stuff together.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form method="POST" action="https://formspree.io/ynevdm@gmail.com" id="contactform">
                        <div class="row">
                            <div class="col-1 col-md-4"></div>
                            <div class="col-10 col-md-4">
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" name="email" required placeholder="What's your e-mail address?">
                                </div>
                            </div>
                            <div class="col-1 col-md-4"></div>

                            <div class="col-1 col-md-4"></div>
                            <div class="col-10 col-md-4">
                                <div class="control-group form-group">
                                    <textarea name="message" class="form-control" required placeholder="Let's hear your ideas."></textarea>
                                </div>
                            </div>
                            <div class="col-1 col-md-4"></div>
                            <div class="col-1 col-md-4"></div>
                            <div class="col-10 col-md-4"><button class="buttonsubmit" type="submit"><span>Ready for take off</span></button></div>
                            <div class="col-1 col-md-4"></div>
                        
                        </div>
                    </form>


                </div>

            </div>
        </div>
    </section>
</div>