<header class="fullsizeafbeelding">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 hiya">
                    <div class="title1">
                        <h1 class="mt-5">Dit is de titel</h1>
                        <p>Hier kun je tekst typen. Assumenda vel beatae sed aut modi nesciunt porro quisquam voluptatem. Wel
                            nog uitlijnen via de css :)</p>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </section>

</header>