<div class="wrapper">
    <section data-anchor="top" id="Skills">
        <div class="container">

            <div class="vaardigheden">
                    <div class="col-lg-8 mx-auto">
                            <h2>Skills</h2>
                        </div>
                <div class="row">
                    
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="skills-list">
                            <div class="skills-block">
                                <h4>Illustrator</h4>
                                <div class="percentage-container">
                                    <div class="percentage" id="ill"></div>
                                </div>
                            </div>
                            <div class="skills-block">
                                <h4>InDesign</h4>
                                <div class="percentage-container">
                                    <div class="percentage" id="ind"></div>
                                </div>
                            </div>
                            <div class="skills-block">
                                <h4>Photoshop</h4>
                                <div class="percentage-container">
                                    <div class="percentage" id="ps"></div>
                                </div>
                            </div>
                            <div class="skills-block">
                                <h4>HTML5/CSS3</h4>
                                <div class="percentage-container">
                                    <div class="percentage" id="html"></div>
                                </div>
                            </div>
                            <div class="skills-block">
                                <h4>JavaScript</h4>
                                <div class="percentage-container">
                                    <div class="percentage" id="js"></div>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
</div>
