---
layout: horizontal
permalink: /stijlgids
published: true
title: Stijlblad - huisstijlgids
---

<h1>Stijlblad huisstijlgids</h1>

<p>heb ik alles voorzien?</p>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<h2>Tekst</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste, inquam, de voluptate quid sentit? Istam voluptatem perpetuam quis potest praestare sapienti? Aliam vero vim voluptatis esse, aliam nihil dolendi, nisi valde pertinax fueris, concedas necesse est. Sed tamen enitar et, si minus multa mihi occurrent, non fugiam ista popularia. Sed ad bona praeterita redeamus. Duo Reges: constructio interrete. Atque ab isto capite fluere necesse est omnem rationem bonorum et malorum. Quamquam te quidem video minime esse deterritum. </p>

<p>Lorem ipsum dolor sit amet, <strong>Deze zin wil opvallen.</strong>consectetur adipiscing elit. Idem iste, inquam, de voluptate quid sentit?</p>

<blockquote>
	<h3>Blockquotes</h3>
	<p>Blockquotes zijn handig voor tekstdelen die we als groep extra aandacht willen geven. Denk :before en :after om er nog veel meer uit te halen.</p>	
	<p>Lorem ipsum dolor sit amet, <strong>Deze zin wil opvallen.</strong>consectetur adipiscing elit. Idem iste, inquam, de voluptate quid sentit?</p>
</blockquote>

<ul>
	<li>unordered list Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste, inquam, de voluptate quid sentit? Istam voluptatem perpetuam quis potest praestare sapienti? Aliam vero vim voluptatis esse, aliam nihil dolendi, nisi valde pertinax fueris, concedas necesse est. Sed tamen enitar et, si minus multa mihi occurrent, non fugiam ista popularia. Sed ad bona praeterita redeamus. Duo Reges: constructio interrete. Atque ab isto capite fluere necesse est omnem rationem bonorum et malorum. Quamquam te quidem video minime esse deterritum.</li>
	<li>unordered list item</li>
	<li>unordered list item</li>
	<li>unordered list item</li>
	<li>unordered list item</li>
</ul>

<ol>
		<li>ordered list item</li>
		<li>ordered list item</li>
		<li>ordered list item</li>
		<li>ordered list item</li>
		<li>ordered list item</li>
</ol>

<h2>Clickables</h2>

<p>Vergeet de verschillende "states" niet.</p>

<p><a href="#">Hyperlink in tekst</a>. Nota. Denk met trefwoorden! Een hyperlink zoals "klik hier" of "lees hier" is geen meerwaarde voor SEO en voorleessoftware.</p>

<button>Button</button>

<h2>Forms</h2>

<ul>
	<li><a href="https://getbootstrap.com/docs/4.0/components/forms/" target="blank">formulieren in bootstrap</a></li>
</ul>

<form>
		<div class="form-group">
		  <label for="exampleFormControlInput1">Email address</label>
		  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		</div>
		<div class="form-group">
		  <label for="exampleFormControlSelect1">Example select</label>
		  <select class="form-control" id="exampleFormControlSelect1">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		  </select>
		</div>
		<div class="form-group">
		  <label for="exampleFormControlSelect2">Example multiple select</label>
		  <select multiple class="form-control" id="exampleFormControlSelect2">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		  </select>
		</div>
		<div class="form-group">
		  <label for="exampleFormControlTextarea1">Example textarea</label>
		  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
		<h3>Check boxes</h3>
		<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
				<label class="form-check-label" for="defaultCheck1">
				  Default checkbox
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
				<label class="form-check-label" for="defaultCheck2">
				  Disabled checkbox
				</label>
		</div>
		<h3>Radio buttons</h3>
		<div class="form-check">
				<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
				<label class="form-check-label" for="exampleRadios1">
				  Default radio
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
				<label class="form-check-label" for="exampleRadios2">
				  Second default radio
				</label>
			  </div>
			  <div class="form-check disabled">
				<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
				<label class="form-check-label" for="exampleRadios3">
				  Disabled radio
				</label>
			  </div>
	  </form>
<h2>Foto's en illustraties</h2>
<ul>
	<li><a href="https://getbootstrap.com/docs/4.0/content/images/" target="blank">afbeeldingen in bootstrap</a></li>
	<li><a href="https://getbootstrap.com/docs/4.0/utilities/sizing/" target="blank">afmetingen in bootstrap</a></li>
</ul>

<h3>Standaard Foto</h3>

<p>bootstrap class = w-25<br>
<img src="images/voorbeelden/naamkaartje.jpg" alt="naamkaartje" class="w-25"></p>
<p>bootstrap class = w-50<br>
<img src="images/voorbeelden/naamkaartje.jpg" alt="naamkaartje" class="w-50"></p>
<p>bootstrap class = w-75<br>
<img src="images/voorbeelden/naamkaartje.jpg" alt="naamkaartje" class="w-75"></p>
<p>bootstrap class = w-100<br>
<img src="images/voorbeelden/naamkaartje.jpg" alt="naamkaartje" class="w-100"></p>

<h3>Foto met lightbox</h3>
<a href="images/voorbeelden/naamkaartje.jpg" data-lightbox="image-1" data-title="Naamkaartje"><img src="images/voorbeelden/naamkaartje.jpg" alt="naamkaartje" class="w-25"></a>

<h3>Fotoreeks met lightbox</h3>
<a href="images/voorbeelden/naamkaartje.jpg" data-lightbox="mijnreeks" data-title="Naamkaartje"><img src="images/voorbeelden/naamkaartje.jpg" alt="naamkaartje" class="w-33"></a>
<a href="images/voorbeelden/brochure.jpg" data-lightbox="mijnreeks" data-title="Brochure"><img src="images/voorbeelden/brochure.jpg" alt="naamkaartje" class="w-33"></a>
<a href="images/voorbeelden/infographic.jpg" data-lightbox="mijnreeks" data-title="Infographic"><img src="images/voorbeelden/infographic.jpg" alt="naamkaartje" class="w-33"></a>


<h2>Tabellen</h2>
<table class="table">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">First</th>
			<th scope="col">Last</th>
			<th scope="col">Handle</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<th scope="row">1</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
		  </tr>
		  <tr>
			<th scope="row">2</th>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
		  </tr>
		  <tr>
			<th scope="row">3</th>
			<td>Larry</td>
			<td>the Bird</td>
			<td>@twitter</td>
		  </tr>
		</tbody>
	  </table>
