/* Navigation
---------------------------------------------
*/
.nav-item {
  text-transform: uppercase;
  font-weight: bold;
}
.navbar a {
  border: none;
}

.navbar {
  background-color: #000;
}

#mainNavigation .navbar-nav .nav-item .nav-link.active, #mainNavigation .navbar-nav .nav-item .nav-link:hover {
  color: $clientcolor-2;
 
}

.navbar-nav > li:focus, .navbar-nav > li:hover {
  border-bottom: 4px solid $clientcolor-2;
  padding-bottom: 5px;
}

/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
  background-color: $clientcolor-1;
  color: $color-white;
  a {
    color: $color-white;
    &:hover {}
  }
}
h1 {
  text-transform: uppercase;
  
}



h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3em;
  
}

#resume h2 {
  text-align: center;
}

#hello {
  height: 100vh;
}

footer {
  color: $clientcolor-2;
}

/* BACK TO TOP
-------------------------
*/

#to-top {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 10px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: $clientcolor-1;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  &:hover {
    background-color: $clientcolor-2;
    color: $clientcolor-1;
  }
}

/* OWN */

.welkome {
  margin-top: 400px;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover {
  color: $clientcolor-2;
  }

  a:active {
    background-color: $clientcolor-1;
    color: $clientcolor-1;
  }

.navbar .bg-dark {
  background-color: $clientcolor-1;
}

.carousel1 {
  background-image: url('image1.jpg')
}

.carousel2 {
  background-image: url('image2.jpg')
}

.carousel3 {
  background-image: url('image3.jpg')
}

.fullsizeafbeelding {
  height: 100vh;
  background: url('image1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.fullsizeafbeelding {
  h1 {
   color: $color-white;
  }
  text-align: right;
  padding-bottom: 50px;
}

h1 {
  color: $clientcolor-1;
}

.hiya {
  bottom: 0;
  position: absolute;
}

#404page {
  h1 {
  font-size: 10em; }
}

/*HALFCAROUSEL*/

.halfcarousel {
  height: 65vh;
}

/*MOZAIEK*/

#portfolio {
  margin-top: 100px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(255,230,68, 0.8);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

/* FULL SIZE BG */

#navlogo {
  background-image: url('logo.svg');
}

.nav-logo {
  min-height: 150px;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
 
}

.sidebar-nav {
  padding: 0;
  background-color: $clientcolor-1;
}

.mainbox {
  padding: 0;
}



#logo {
  width: 100%;
}

.fullwidth {
  height: 500px;
  margin-top: 10px;
}

.bg-image-full {
  background-image: url('image1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* SCROLLNAV */

.headerscrollnav {
  height: 500px;
  padding-top: 150px;
  background-image: url('image1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.scrollnavinhoud {
  padding: 50px 0 50px 0;
}

#Contact {
  padding: 50px 0 250px 0;
}



/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
  .navbar {
    position: fixed;
    padding-top: 0;
    border-right: 1px dotted $color-grey-1;
    
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0.7rem 50px 0.7rem 35px;
  }
  .dropdown-item {
    padding: 0.2rem 25px 0.2rem 55px;
  }
  .navbar-brand {
    padding: 0 0 0 15px;
    margin-right: 0;
  }
  
}

@media (max-width: 768px) {
  #navlogo {
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    border-bottom: 1px dotted $color-grey-1;
  }

  .fullsizeafbeelding {
    h1 {
     color: $color-white;
    }
    text-align: center;
    bottom: 20px;
  }

  .buttonsubmit:hover span {
    padding-right: 100px;
    }
}


/* TUSSENTITEL */


/*FORM*/
form {
  margin-top: 50px;
}

.form-group input[type="email"]:focus, .form-group textarea:focus {
  border-bottom: 4px solid $clientcolor-2;
}

.form-control {
  border: none;
  background: none;
  display: block;
  box-shadow: none;
  outline: none;
  transition: .3s all;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-delay: initial;
}

.form-control:active, .form-control:focus, .form-control:visited, textarea:focus, input[type="email"]:focus {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
  outline-width: 0;
  border-width: 0;
  border-color: transparent;
}

section#contact .container textarea {
  outline: none;
}

*:focus {
  outline: none;
}
/*BUTTONS*/

.buttonsubmit {
  color: $clientcolor-1;
  background-color: $clientcolor-2;
  border-radius: 20px;
  border: none;
  padding: 5px 15px 5px 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonsubmit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonsubmit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  
}

.buttonsubmit:hover span {
  padding-right: 190px;
  }

  .buttonsubmit:hover span:after {
  opacity: 1;
  right: 0;

}
.buttonsubmit:hover {
  color: $clientcolor-2;
  background-color: $clientcolor-1;
}



/*CONTACT*/

textarea {
  height: 150px;
}


footer a, footer a:active, footer a:focus, footer a:hover {
  text-decoration: none;
  border: none;
}

/*ICONS*/

.icons {
  color: $clientcolor-2;
  margin: 0 5px 0 5px;
}

/*SKILLS*/

.vaardigheden {
  
  #ill {
    width:75%;  
    animation:ill 3s ease-in-out;
  }
  #ind {
    width:70%;  
    animation:ind 3s ease-in-out;
  }
  #ps {
    width:65%;  
    animation:ps 3s ease-in-out;
  }
  #html {
    width:50%;  
    animation:html 3s ease-in-out;
  }
  #js{
    width:10%;  
    animation:js 3s ease-in-out;
  }
  
  @keyframes ill { 
    0%  { width:0px;} 
    100%{ width:75%;}  
  }
  @keyframes ind {
    0%  { width:0px;} 
    100%{ width:70%;}  
  }
  @keyframes ps {
    0%  { width:0px;}
    100%{ width:65%;}
  }
  @keyframes html {
    0%  { width:0px;} 
    100%{ width:50%;}  
  }
  @keyframes js {
    0%  { width:0px;} 
    100%{ width:15%;}  
  }

  .skills-block {
    h4 {
      font-weight: 600;
      
    }
    margin-bottom: 50px;
  }
  .skills-list {
    margin-top: 70px;
  }
  .percentage-container {
    margin-top: 20px;
    width: 100%;
    height: 7px;
    background-color: #f1f1f1;
    &.no-width {
      .percentage {
        width: 0 !important;
      }
    }
    .percentage {
      height: 100%;
      background: linear-gradient(62deg, $clientcolor-1, $mycolor-1, $clientcolor-2);
      transition: width 5s ease-in-out;
    }
  }
}

#Skills {
  background-color: $color-grey-1;
  padding: 50px 0 50px 0;
}

/*LANGUAGES */
@keyframes load{0%{stroke-dashoffset:0}}
.progress {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    &>li {
        display: inline-block;
        position: relative;
        text-align: center;
        color: #93A2AC;
        font-family: Lato;
        font-weight:100;
        margin: 2rem;
        &:before {
            content: attr(data-name);
            position: absolute;
            width: 100%;
            bottom: -2rem;
            font-weight:400;
        }
        &:after {
            content: attr(data-percent);
            position: absolute;
            width: 100%;
            top: 3.7rem;
            left: 0;
            font-size: 2rem;
            text-align: center;
        }
    }
    svg {
        width: 10rem;
        height: 10rem;
        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(-90deg);
        }
        &:nth-child(2) path {
            fill: none;
            stroke-width: 25;
            stroke-dasharray: 629;
            stroke: #fff;
            opacity:.9;
            animation: load 10s;
        }
    }
}


/*LANGUAGES*/
.progress{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left{
  left: 0;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right{
  right: 0;
}
.progress .progress-right .progress-bar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
  width: 85%;
  height: 85%;
  border-radius: 50%;
  border: 2px solid #ebebeb;
  font-size: 32px;
  line-height: 125px;
  text-align: center;
  position: absolute;
  top: 7.5%;
  left: 7.5%;
}

.progress.blue .progress-bar{
  border-color: $clientcolor-1;
}
.progress.blue .progress-value{
  color: $clientcolor-1;
}
.progress.blue .progress-left .progress-bar{
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
  border-color: $clientcolor-2;
}
.progress.yellow .progress-value{
  color: $mycolor-1;
}
.progress.yellow .progress-left .progress-bar{
  animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
  border-color: #ed687c;
}
.progress.pink .progress-value{
  color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
  animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
  border-color: #1abc9c;
}
.progress.green .progress-value{
  color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
  animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
@keyframes loading-2{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
@keyframes loading-3{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}
@keyframes loading-4{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
  }
}
@keyframes loading-5{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
  }
}
@media only screen and (max-width: 990px){
  .progress{ margin-bottom: 20px; }
}