 /* VERTICAL NAVIGATION BAR
 -------------------------------------------------- */
 @media (min-width: 768px) {
    .custom-nav-ver {
        .collapse {
            display: block;
        }
        .navbar-collapse {
            width:100%;
        }
        .dropdown-menu {
            position: static !important;
            width: 100%;
        }
        .navbar-nav {
            width: 100%;
        }
        .nav-item {
            width: 100%;
        }
        li.active .dropdown-menu {
            position: static !important;
            display: block  !important;
        }
     }

 }

 /* table of contents
 --------------------------- */
 #toc {
    margin-bottom: 1em;
    .nav {
        display: block;
    }

 } 

 