

// Color system
// ------------------------

// Greys
$color-white: rgba(250,250,250,1);
$color-grey-1:rgba(240,240,240,1);
$color-grey-2:rgba(180,180,180,1);
$color-grey-3:rgba(90,90,90,1);
$color-grey-4:rgba(30,30,30,1);
$color-grey-5:rgba(10,10,10,1);
$color-black:rgba(0,0,0,1);

// Website
$mycolor-1:rgba(162,139,119,1);
$mycolor-2:rgba(80,69,57,1);
$mycolor-3:rgba(193,173,121,1);
$mycolor-4:rgba(147,131,86,1);
$mycolor-5:rgba(155,59,29,1);

$body-bg: $color-white;
$body-color: $color-grey-4;
$body-link: $mycolor-5;


// Client specific
$clientcolor-1:rgb(0, 0, 0);
$clientcolor-2: rgb(255,230,68);
$clientcolor-3:rgba(120,250,250,1);
$clientcolor-4:rgba(120,250,250,1);
$clientcolor-5:rgba(250,120,120,1);


// TYP0GRAPHY
// -----------------------------

// Imports
// Website
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

// Client specific
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Cabin|Source+Sans+Pro|Montserrat:900');

// type
$myfont-family-base: 'Source Sans Pro', sans-serif;
$myfont-family-title: 'Montserrat', sans-serif;

// sizes
$font-size-base: 16px;
$lineheight-base: 1.6em;
$font-weight-base: 400;
$font-weight-light: 200;
$font-weight-bold: 800;


// Type Client specific
//------------------------------

// type
$clientfont-family-base: 'Source Sans Pro', sans-serif;
$clientfont-family-title: 'Cabin', sans-serif;

// sizes
$client-font-size-base: 16px;
$client-lineheight-base: 1.6em;
$client-font-weight-base: 400;
$client-font-weight-light: 200;
$client-font-weight-bold: 800;