<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }} | Huistijlgids - Mijn Klant</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
        <!-- Plugin CSS -->
        <link href="{{ site.baseurl }}{% link vendor/magnific-popup/magnific-popup.css %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ site.baseurl }}{% link css/creative.min.css %}" rel="stylesheet">

</head>

<body data-spy="scroll" data-target="#toc">  

{% include nav_hor.html %}



                <main class="content">
                {{ content }}
        </main>



{% include footer.html %}


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- Plugin JavaScript -->
   <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
   <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
   <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

   <!-- Custom scripts for this template -->
   <script src="js/creative.min.js"></script>

   {% include scripts-bottom.html %}
</body>
</html>